/* layout */
html {
  height: 100%;
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

body {
  margin: 0;
  height: 100%;
  font-family: "NexonLv2Gothic", Malgun Gothic, "맑은 고딕", Helvetica,
    sans-serif;
}

#header {
  padding-top: 18.875rem;
  /*padding-bottom:1.25rem;*/
  text-align: center;
}

#wrapper {
  position: relative;
  /* ---height:100%--- */
}

/* --- style --- */
h2#logo {
  width: 50%;
  max-width: 364px;
  margin: 2rem auto 4.25rem;
}

h2#logo img {
  width: 90%;
  position: relative;
  top: 120px;
}

.headline1 {
  font-size: 2.5rem;
  line-height: 2rem;
  font-family: "NexonLv2Gothic", Malgun Gothic, "맑은 고딕", Helvetica,
    sans-serif;
  letter-spacing: 0;
  color: #6a6a6a;
  font-weight: 1000;
  margin: 0 0 0.7rem 0;
}

.subline {
  font-size: 1rem;
  line-height: 2rem;
  font-family: "NexonLv2Gothic", Malgun Gothic, "맑은 고딕", Helvetica,
    sans-serif;
  letter-spacing: 0;
  color: #6a6a6a;
  font-weight: 400;
  margin: 0 0 1.8rem 0;
}

#content {
  width: 85%;
  max-width: 900px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  padding: 6rem 7.5rem;
  margin: 230px auto;
}

@media screen and (max-width: 768px) {
  #content {
    padding: 2rem 2.3rem;
    max-width: 320px;
    margin: 150px auto;
  }


}

input:focus {
  outline: none;
}

.box {
  display: block;
  width: 40%;
  height: 4.25rem;
  border: solid 1px #ffffff;
  padding: 10px 14px;
  box-sizing: border-box;
  background: #fff;
  position: relative;
  right: -120px;
  top: -23px;
}

.box2 {
  display: block;
  width: 100%;
  height: 4.25rem;
  border: solid 1px #292929;
  padding: 10px 14px;
  box-sizing: border-box;
  background: #fff;
}

.explanation {
  position: relative;
  bottom: -43px;
  right: -8px;
}

.int {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  background: #fff;
  font-size: 16px;
}

input {
  font-family: "NexonLv2Gothic", Malgun Gothic, "맑은 고딕", Helvetica,
    sans-serif;
}

input::placeholder {
  color: #a3a3a3;
}

.box.int_id {
  padding-right: 110px;
}

.box.int_pass {
  padding-right: 40px;
}

.box.int_pass_check {
  padding-right: 40px;
}

.step_url {
  position: absolute;
  top: 16px;
  right: 13px;
  font-size: 15px;
  color: #8e8e8e;
}

.pswdImg {
  width: 18px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -10px;
  cursor: pointer;
}

.contentBox {
  border: 1px solid #e9e9e9;
}

.contentBox label {
  display: none;
}
.contentBox div {
  margin-bottom: 16px;
}

#bir_wrap,
#mobile_wrap {
  display: table;
  width: 100%;
}

#bir_yy {
  display: table-cell;
  width: 147px;
}

#bir_mm {
  display: table-cell;
  width: 147px;
  vertical-align: middle;
}

#bir_dd {
  display: table-cell;
  width: 147px;
}

#bir_mm,
#bir_dd {
  padding-left: 10px;
}

#mobile_wrap {
  display: table;
  width: 100%;
}

#mobile_digit {
  display: table-cell;
  width: 80%;
  vertical-align: middle;
}

#mobile_btn {
  display: table-cell;
  width: 20%;
  padding-left: 10px;
}

select {
  width: 100%;
  height: 29px;
  font-size: 15px;
  background: #fff
    url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50%
    no-repeat;
  background-size: 20px 8px;
  -webkit-appearance: none;
  display: inline-block;
  text-align: start;
  border: none;
  cursor: default;
  font-family: Dotum, "돋움", Helvetica, sans-serif;
}

.error_next_box {
  margin-top: 9px;
  font-size: 12px;
  color: red;
  display: none;
}

#alertTxt {
  position: absolute;
  top: 19px;
  right: 38px;
  font-size: 12px;
  color: red;
  display: none;
}

.contentBox .btn_area {
  margin: 40px 0 0;
}

#btnJoin {
  width: 100%;
  padding: 21px 0 17px;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  font-size: 20px;
  font-weight: 400;
  font-family: Dotum, "돋움", Helvetica, sans-serif;
}

#btnSend {
  padding: 17px 0;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  font-size: 14px;
  font-weight: 400;
  font-family: Dotum, "돋움", Helvetica, sans-serif;
}

#btnFind {
  width: 100%;
  height: 4.25rem;
  box-sizing: border-box;
  padding: 1.3rem 0 1rem;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: #292929;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "NexonLv2Gothic", Malgun Gothic, "맑은 고딕", Helvetica,
    sans-serif;
}
