html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button a {
  color: #fff;
  text-decoration: none;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-size: 14px;
  color: #000;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide p {
  z-index: 30;
  color: white;
  font-size: 34px;
  position: absolute;
  top: 150px;
}
/* section_main */

.main_banner {
  position: relative;
  height: 100%;
}

.main_inner {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_text {
  position: absolute;
  top: 170px;
  left: 250px;
  z-index: 31;
}

.main_text span {
  font-size: 40px;
  font-weight: lighter;
}

.main_text p {
  margin-top: 0px;
  font-size: 40px;
  font-weight: 600;
}

.mobile {
  margin-left: 299;
}

.main_button {
  position: absolute;
  bottom: 110px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 30;
}

.main_button button {
  margin: 8px 10px;
}

/* popup */
.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  display: none;
}

.popup .content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 100;
  box-sizing: border-box;
}

.popup .content iframe {
  pointer-events: none;
}

.popup .close-btn {
  position: absolute;
  top: -80px;
  right: 0;
  color: #fff;
  font-size: 60px;
  cursor: pointer;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.viedo {
  border-radius: 50px;
  background-color: #2e2e2e;
  padding: 10px 20px;
  border: none;
  color: #fff;
  width: 160px;
  height: 50px;
  border: 1px solid #333;
  cursor: pointer;
}

.contact {
  border-radius: 50px;
  background-color: #1fa170;
  padding: 10px 20px;
  color: #fff;
  border: none;
  width: 160px;
  height: 50px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .main_inner {
    height: 600px;
  }

  .main_banner {
    height: 720px;
  }

  .main_inner > .main_text {
    font-size: 24px;
    position: absolute;
    top: 80px;
    left: 120px;
  }

  .main_button {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
  }
  .popup .content iframe {
    width: 450px;
    height: 260px;
  }
}

/* section2 */

.section2_container {
  width: 100%;
  height: 80%;
  background-color: #e8f1e9;
  position: relative;
}

.section_inner {
  max-width: 1440px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 20px;
}

.section2_text {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 26px;
}

.section2_text h4 {
  font-size: 25px;
  color: #1fa170;
}

.section2_text p {
  font-size: 18px;
  color: #333;
  margin-top: -20px;
}

.section2_icon {
  display: flex;
  margin-top: 83px;
}

.section2_icon .icon_image {
  text-align: center;
  margin: 0 auto;
}

.section2_icon .icon_image img {
  margin-bottom: 15px;
}

.section2_icon .icon_image h2 {
  font-size: 16px;
}

.section2_icon .icon_image p {
  font-size: 13px;
}

.section2_icon .icon_image:nth-child(2) {
  padding-right: 3 0px;
}

@media screen and (max-width: 768px) {
  .section2_container {
    height: 165%;
  }

  .section2_icon {
    display: block;
    margin-top: 70px;
  }

  .section2_icon .icon_image {
    padding: 20px 0;
  }
  .section2_icon .icon_image img {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1500px) {
  .section2_container {
    height: 105%;
  }
}

@media screen and (min-width: 1930px) {
  .section2_container {
    height: 60%;
  }
}

/* section3 */
.section3_container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: relative;
}

.section3_text {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 24px;
}

.section3_text h4 {
  font-size: 25px;
  color: #1fa170;
}

.section3_text p {
  font-size: 18px;
  color: #333;
  margin-top: -20px;
}

.section3_icon {
  display: flex;
  margin-top: 60px;
}

.section3_icon .icon_image {
  text-align: center;
  margin: 0 auto;
  max-width: 18%;
}

.section3_icon .icon_image img {
  margin-bottom: 15px;
}

.section3_icon .icon_image:nth-child(2) {
  padding-right: 50px;
}

.section3_icon .icon_image h2 {
  font-size: 16px;
}

.section3_icon .icon_image p {
  font-size: 13px;
}

.cert_check {
  width: 100%;
  position: absolute;
  bottom: 90px;
  cursor: pointer;
}

.cert_inner {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
}
.cert_btn {
  position: relative;
  background-color: #1fa170;
  width: 300px;
  height: 70px;
  border-radius: 50px;
  margin: 10px auto;
}

.cert_btn p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin: 0 20px;
}

.check1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.check2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.check1 img {
  width: 50px;
  height: 50px;
}

.check2 img {
  width: 50px;
  height: 50px;
}
.cert_text {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section3_container {
    height: 205%;
  }

  .section3_icon {
    display: block;
    margin-top: 90px;
  }

  .section3_icon .icon_image {
    max-width: 50%;
  }
  .section3_icon .icon_image:nth-child(2) {
    padding-right: 0;
    padding: 10px 0;
  }
  .cert_inner {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1500px) {
  .section3_container {
    height: 115%;
  }
}

@media screen and (min-width: 1930px) {
  .section3_container {
    height: 70%;
  }
}

/* section4 */
.section4_container {
  width: 100%;
  height: 60%;
  background-color: #e8f1e9;
  position: relative;
}

.section4_text {
  margin: 0 auto;
  text-align: center;
}

.section4_text h4 {
  font-size: 25px;
  color: #1fa170;
}

.section4_text p {
  font-size: 18px;
  color: #2e2e2e;
  margin-top: -20px;
}

.btn_container {
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  color: white;
}

input[type="checkbox"].toggle {
  display: none;
}

input[type="checkbox"].toggle + label {
  display: inline-block;
  height: 65px;
  width: 283px;
  position: relative;
  font-size: 20px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s ease;
  border-radius: 30px;
}

input[type="checkbox"].toggle + label::before {
  position: absolute;
  top: 7px;
  width: 100px;
  height: 50px;
  content: "";
  transition: all 0.3s ease;
  z-index: 3;
  border-radius: 30px;
}

input[type="checkbox"].toggle + label::after {
  overflow: hidden;
  text-align: center;
  z-index: 2;
  position: absolute;
  content: "ON";
  top: 50%;
  transform: translateY(-50%);
  text-shadow: ellipsis;
}

input[type="checkbox"].toggle:not(:checked) + label {
  background-color: #ef7a7f;
  text-align: right;
}

input[type="checkbox"].toggle:not(:checked) + label::after {
  content: attr(date-unchecked);
  right: 25px;
  left: auto;
  opacity: 1;
  color: white;
}

input[type="checkbox"].toggle:not(:checked) + label::before {
  left: 4px;
  background-color: white;
}

input[type="checkbox"].toggle:checked + label {
  text-align: left;
  background-color: #55689d;
}

input[type="checkbox"].toggle:checked + label::after {
  content: attr(data-checked);
  left: 34px;
  right: auto;
  opacity: 1;
  color: white;
}

input[type="checkbox"].toggle:checked + label::before {
  left: 179px;
  background-color: white;
}

label span::before {
  position: absolute;
  top: 18px;
  left: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #55689d;
  z-index: 20;
  transition: all 0.3s ease;
}

label span::after {
  position: absolute;
  top: 18px;
  left: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #ef7a7f;
  z-index: 20;
  transition: all 0.3s ease;
}

input[type="checkbox"].toggle:checked + label span::before {
  content: attr(data-checked);
  left: 209px;
}

input[type="checkbox"].toggle:not(:checked) + label span::after {
  content: attr(data-unchecked);
}

.OFF_TEXT {
  width: 120%;
  height: 50%;
  position: relative;
  top: 100px;
  left: -28px;
  text-align: center;
}

.OFF_TEXT h2 {
  font-size: 22px;
  color: #2e2e2e;
}

.OFF_TEXT p {
  font-size: 18px;
  color: #2e2e2e;
}

.ON_TEXT {
  width: 130%;
  height: 50%;
  position: relative;
  top: 100px;
  left: -50px;
  text-align: center;
}

.ON_TEXT h2 {
  font-size: 22px;
  color: #2e2e2e;
}

.ON_TEXT p {
  font-size: 18px;
  color: #2e2e2e;
}

input[type="checkbox"]:checked + label .OFF_TEXT {
  display: none;
}

input[type="checkbox"]:not(:checked) + label .ON_TEXT {
  display: none;
}

@media screen and (max-width: 768px) {
  .section4_icon {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1500px) {
  .section4_container {
    height: 70%;
  }
}
@media screen and (min-width: 1920px) {
  .section4_container {
    height: 530px;
  }
}

/* section5 */

.section5_text {
  margin: 0 auto;
  text-align: center;
}

.section5_text h4 {
  font-size: 25px;
  color: #1fa170;
}

.section5_text p {
  font-size: 18px;
  color: #2e2e2e;
  margin-top: -20px;
  margin-bottom: 50px;
}

/* slide */
.gride-slider-section {
  padding: 50px 0;
  height: 900px;
}

.gride-slide {
  padding: 10px;
  width: 22%;
}

.gride-slide-inner {
  padding: 10px;
  border: 2px solid #777;
}

.gride-slide-inner img {
  width: 100%;
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .gride-slide {
    width: 33%;
  }
}

@media (min-width: 575px) and (max-width: 1200px) {
  .gride-slide {
    width: 49%;
  }
}

@media (max-width: 575px) {
  .gride-slide {
    width: 78%;
  }
}

/* section6 */
.section6_container {
  width: 100%;
  height: 75%;
  background-color: #e8f1e9;
  position: relative;
}

.section6_text {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 23px;
}

.section6_text h4 {
  font-size: 25px;
  color: #1fa170;
}

.section6_text p {
  font-size: 18px;
  color: #313131;
  margin-top: -24px;
}

.section6_text span {
  color: #ef7a7f;
  font-size: 14px;
  position: relative;
  top: -8px;
}

.section6_btn {
  position: relative;
  top: 17px;
  text-align: center;
  margin: 0 auto;
}

.section6_icon {
  margin-top: 50px;
  text-align: center;
}

.section6_icon img {
  text-align: center;
  padding: 10px 15px;
}

.btn_text {
  color: #1fa170;
}

.btn_info {
  color: #ffffff;
  background-color: #1fa170;
  border-radius: 30px;
  border: none;
  width: 150px;
  height: 40px;
  position: relative;
  top: 10px;
  font-weight: 700;
  cursor: pointer;
}

.section6_icon .icon_image img {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .section6_container {
    height: 1200px;
  }

  .section6_icon {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1500px) {
  .section6_container {
    height: 100%;
  }
  .section6_btn {
    position: relative;
    top: 71px;
  }
}

@media screen and (min-width: 1920px) {
  .section6_container {
    height: 700px;
  }
}

/* section7 */

.section7_text {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -17px;
}

.section7_text h4 {
  font-size: 25px;
  color: #ef7a7f;
}

.section7_text p {
  font-size: 18px;
  color: #2e2e2e;
  margin-top: -25px;
  margin-bottom: 50px;
}

/* slide2 */
.gride-slider-section2 {
  padding: 50px 0;
  height: 900px;
}

.gride-slide2 {
  padding: 10px;
  width: 24%;
}

.gride-slide-inner2 {
  padding: 10px;
  border: 2px solid #777;
}

.gride-slide-inner2 img {
  width: 100%;
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .gride-slide2 {
    width: 33%;
  }
}

@media (min-width: 575px) and (max-width: 1200px) {
  .gride-slide2 {
    width: 49%;
  }
}

@media (max-width: 575px) {
  .gride-slide2 {
    width: 78%;
  }
}

.section7_inner {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 35px;
}

.btn_text.pink {
  color: #ef7a7f;
}

.btn_info.pink {
  background-color: #ef7a7f;
  cursor: pointer;
}

/* section8 */
.section8_container {
  width: 100%;
  height: 65%;
  background-color: #b4e2de;
  position: relative;
}

.section8_text {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 23px;
}

.section8_text h4 {
  font-size: 25px;
  color: #55689d;
}

.section8_btn {
  position: relative;
  top: 17px;
  text-align: center;
  margin: 0 auto;
}

.section8_icon {
  margin-top: 50px;
  text-align: center;
}

.section8_icon img {
  text-align: center;
  padding: 10px 15px;
}

.btn_text {
  color: #1fa170;
}

.btn_info {
  color: #ffffff;
  background-color: #1fa170;
  border-radius: 30px;
  border: none;
  width: 150px;
  height: 40px;
  position: relative;
  top: 10px;
  font-weight: 700;
  cursor: pointer;
}

.section8_icon .icon_image img {
  margin-bottom: 15px;
}

.btn_text.blue {
  color: #55689d;
}

.btn_info.blue {
  background-color: #55689d;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .section8_container {
    height: 840px;
  }

  .section8_icon {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1500px) {
  .section8_btn {
    position: relative;
    top: 71px;
  }
}

@media screen and (min-width: 1920px) {
  .section8_container {
    height: 620px;
  }
}

/* section9 */

.section9_container {
  width: 100%;
  height: 83%;
  background-color: #fff;
  position: relative;
}

.section9_text {
  margin: 0 auto;
  text-align: center;
}

.section9_text h4 {
  font-size: 25px;
  color: #1fa170;
  right: 24px;
}

.section9_text p {
  font-size: 18px;
  color: #2e2e2e;
}

.section9_inner {
  text-align: center;
  margin: 0 auto;
}

.section9_btn {
  position: absolute;
  right: 0;
  left: 0;
  top: 550px;
}

.partner {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 880px;
  top: 208px;
}

.partner_logo {
  display: inline-block;
  margin: 4 10px;
}

.partner img {
  padding: 8px 24px;
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  .section9_container {
    width: 100%;
    height: 115%;
    background-color: #fff;
    position: relative;
  }

  .partner {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 380px;
    padding-left: 20px;
    top: 208px;
  }

  .partner_logo {
    display: block !important;
    width: 33%;
    float: left;
    margin: 0 !important;
  }

  .partner_logo img {
    width: 80px;
    height: 25px;
  }

  .partner_logo .long_image1 {
    width: 120px;
    height: 25px;
  }
  .partner_logo .long_image2 {
    width: 130px;
    height: 25px;
    margin: 5px 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1500px) {
  .section9_container {
    height: 115%;
  }
}

@media screen and (min-width: 1920px) {
  .section9_container {
    height: 60%;
  }
}

/* certification slide */

.cert_slide_content {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translate(0, -50%) scale(0.1);
  transition: transform 0.1s, top 0.1s;
  visibility: hidden;
  z-index: 100;
}

.cert_slide_content_open {
  visibility: visible;
  top: 50%;
  transform: translate(0, -50%) scale(1);
}

.slide_wrapper {
  position: relative;
  width: 1440px;
  height: 510px;
  margin: 0 auto;
  overflow: hidden;
  top: 200px;
}

.slides {
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.5s ease-out;
}

.slides img {
  float: left;
  margin-right: 30px;
  width: 300px;
  height: 410px;
}

.slides li:not(:last-child) {
  float: left;
  margin-right: 30px;
}

.controls {
  text-align: center;
}

.controls span {
  position: absolute;
  font-size: 70px;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
}

.controls .prev_slide {
  position: absolute;
  top: 360px;
  left: 130px;
}

.controls .next_slide {
  position: absolute;
  top: 360px;
  right: 130px;
}

.controls .cert_close_btn {
  position: absolute;
  right: 240px;
  top: 110px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .slide_wrapper {
    width: 320px;
    top: 130px;
  }

  .controls .prev_slide {
    top: 290px;
    left: 13px;
  }
  .controls .next_slide {
    top: 290px;
    right: 13px;
  }

  .controls .cert_close_btn {
    right: 60px;
    top: 50px;
  }

  .slides img {
    width: 270px;
    height: 380px;
  }
}
